<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2025-2026 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends "layout.html" %}     
{% block import %}
    <script type="module" src="{{ url_for('static', filename='js/modif_parcours.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/forms.css') }}">
{% endblock import %}
{% block content %}
    <script>
        window.event_id = {{event_data.id}}
        window.parcours_id = {{parcours_data.id}}
    </script>
    <div id="parcours"></div>
    <div id="test"></div>
    <div class="nice-form-group">
  <label>Basic form group</label>
  <input type="text" placeholder="Your name" />
</div>
<fieldset class="nice-form-group">
  <legend>Select your favorite framework</legend>
  <div class="nice-form-group">
    <input type="radio" name="radio" id="react" />
    <label for="react">React</label>
  </div>

  <div class="nice-form-group">
    <input type="radio" name="radio" id="vue" />
    <label for="vue">Vue</label>
  </div>

  <div class="nice-form-group">
    <input type="radio" name="radio" id="angular" />
    <label for="angular">Angular</label>
  </div>
</fieldset>

<fieldset class="nice-form-group">
  <legend>Select your favorite languages</legend>
  <div class="nice-form-group">
    <input type="checkbox" id="css" />
    <label for="css">CSS</label>
  </div>

  <div class="nice-form-group">
    <input type="checkbox" id="html" />
    <label for="html">HTML</label>
  </div>

  <div class="nice-form-group">
    <input type="checkbox" id="js" />
    <label for="js">Javascript</label>
  </div>
</fieldset>
{% endblock content %}
{#
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  <my-map></my-map>
    <script type="module" src="{{ url_for('static', filename='js/test.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/test.css') }}">
</body>
</html>#}